@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
    background-color:#f2f2f2;
  }


  /*Container for the calendar*/
  #calendar{
    position: absolute;
    width: 100%;          
    height: 480px;     
    bottom: 0px;              
    right: 0px;

  }
  

  /* Har prøvd å få flexet de greiene her men har ikke fått det til enda. */
 


.daysContainer > div{
    background: #F29696;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

.daysContainer > div:nth-child(odd){
    background: rgb(245, 215, 215);
}

.daysContainer{
    position: absolute;
    display: grid;
    grid-template-columns:repeat(26, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-auto-rows: 97%;
    width: 95%;
    height: 100%;
    right: 1px;
}

#projectTab{
    width: 95px;
    height: 480px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    top: 0px;
    background: rgb(180, 180, 255);
}

.projectText{
  font-size: 16px;
}

/* Representasjon av hvordan et prosjekt kan se ut i kalenderen 
Her hadde det vært fett om vi kunne trykke på prosjektet så kommer du til tavlen*/

#project1{
  height: 5px;
  width: 270px;
  background: rgb(127, 127, 255);
  position: absolute;
  top: 70px;
  left: 200px;
  box-shadow: 0px 0px 5px #fff;
}

#dot1{
  left: 0px;
}

#dot2{
  right: 0px;
}

.projectDots{
  top: -2px;
  height: 10px;
  width: 10px;
  background: rgb(37, 150, 243);
  border-radius: 50%;
  position: absolute;
}


/*====================================Her er den kalender som jeg la inn========================*/

.monthPre{
  color: gray;
  text-align: center;
 }
 .monthNow{
  color: blue;
  text-align: center;
 }
 .dayNow{
  border: 2px solid black;
  color: #FF0000;
  text-align: center;
 }
 .calendar td{
  htmlContent: 2px;
  width: 40px;
 }
 .monthNow th{
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
 }
 .dayNames{
  background: #0FF000;
  color: #FFFFFF;
  text-align: center;
 }
