@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
font-family: 'Montserrat', sans-serif;
}

body {
margin: 0px;
overflow-x: scroll;
background-color: #f2f2f2;
}

/* ============= Tavler ==============*/

#tavleContainer {
display: flex;
width: auto;
margin-right: auto;
flex-direction: row;
}

.popUpBtns {
  font-size: 16px;
  position: relative;
  padding-left: 10px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  background-color:#50D160;
  color:#f2f2f2;
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cardBtns {
  margin-top: 15px;
  padding: 10px;
  padding-left: 21%;
  padding-right: 21%;
  font-size: 14px;
  font-weight: 600;
  color: #f2f2f2;
  background-color: #50D160;
  border: none;
  border-radius: 10px;
}

.cardBtns:hover, .popUpBtns:hover, #boardsBtn:hover  {
  background-color: #3ca048;
  transition: 0.5s;
  cursor: pointer;
}

.tavle {
background-color: #fff;
height: auto;
text-align: center;
color: #f2f2f2;
border-radius: 15px;
display: table;
min-height: 69px;
margin-left: 30px;
margin-bottom: 30px;
min-width: 250px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 100px;
  width: 220px;
  color: #f2f2f2;
  background-color: #4F6976;
  border-radius: 10px;
  opacity:0.9;
  display: block;
}
.textInput {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5f8091;
  text-align: center;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
  border:none;
  width: 99%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.textInput::placeholder {
  color: #d8d7d7;
  font-size: 14px;
}

/* ============== MODAL BOX ============== */

.modal {
  position: fixed;
  border-radius: 10px;
  z-index: 1;
  left: 10vw;
  top: 5vw;
  width: 80%;
  height: 80%;
  overflow: auto;
  background-color: #4F6976;
}

p {
  margin: 5px;
  color: #f2f2f2;
  display: block
}

.headerDiv {
  background-color: #4F6976;
  height: auto;
  margin: 15px;
  padding: 10px;
  border: none;
  width: 80%;
  color: #f2f2f2;
}

.description {
  margin: 10px;
}

.close {
  position: relative;
  margin-bottom: 5px;
  color: #f2f2f2;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.closeCard {
  position: absolute;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #f2f2f2;
  font-size: 28px;
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.closeCard:hover {
  color: #f06969;
  transition: 0.5s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f06969;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}

#prod {
   margin:5px;
   border-radius: 4px;
   width: auto;
   border: none;
   display: block;
   background-color: #f2f2f2;
}

.chckbxBtn {
   margin: 5px;
   position: relative;
   height:auto;
   width: auto;
   border-radius: 4px;
   background-color:#50D160;
   color:#fff;
   border: none;
   cursor: pointer;
}

.descBtn {
   position: relative;
   top: 2px;
   left: 500px;
   height:auto;
   width: auto;
   border-radius: 4px;
   background-color:#50D160;
   color:#fff;
   border: none;
   cursor: pointer;
}

.addFileButton {
   margin:5px;
   position: relative;
   top: 20px;
   height:auto;
   width: auto;
   border-radius: 4px;
   background-color:#50D160;
   color:#fff;
   border: none;
   cursor: pointer;
}

 textarea {
    display: block;
    font-size: 14px;
    width:200px;
    margin: 10px auto;
    margin-top: 30px;
    padding: none;
    border-radius: 14px;
    background-color: #f2f2f2;
    border: none;
    width: 400px;
    height: 70px;
    border: none;
    }

p {
    margin: 10px auto;
    margin-top: 30px;
}

.dueDate {
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 3px 5px;
  width: 140px;
}
.flagDiv {
  position:relative;
  float: right;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 26px;
  background-color: #f2f2f2;
  height: 20px;
  color: #d3d3d3;
  width: 20px;
  border-radius: 2px;
  cursor: pointer;
}

.dueDateP {
  margin: 3px;
  padding: 3px;
  font-size: 15px;
}

#starContainer {
  height: 100px;
  margin-top: 34px;
  padding-left: 10px;
  width: 100px;
  display: flex;
  position: absolute;
  cursor: pointer;
}

#starContainer * {
  padding-right: 10px;
  font-size: 16px;
}

.dropbtn {
    background-color: #f06969;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 23px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #f09494;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #4f6976;
    min-width: 105px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #F29696;
}

.show {
    display: block;
}

.memberButton {
    display: grid;
    grid-column: auto;
    width: 131px;
    height: 30px;
    margin: 2px;
    background-color: #eec4c4;
    font-family: 'Montserrat', sans-serif;
}

.memberButton:hover {
    background-color: #f08080;
    box-shadow: 0px 0px 10px #f08080;
    font-size: 22px;
}

 .mDiv {
   height: auto;
   width: auto;
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   float: right;
 }

 .boardName {
   font-size: 20px;
   text-align: center;
 }
