@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
font-family: 'Montserrat', sans-serif;
}

body {
margin: 0px;
overflow-y: scroll;
overflow-x: scroll;
background-color: #f2f2f2;
}

.topnav {
background-image: url("/git/bilder/headerImage.png");
padding-top: 20px;
background-size: 100vw 100vh;
z-index: 10;
height: 150px;
padding-left: 5vw;
width: 100vw;
display: grid;
grid-template-columns: 30vw 30vw 30vw;
}

#logo {
margin-top: -40px;
transform: scale(1) !important;
}

.navRight {
text-decoration: none;
float: right;
}

.topCenter {
height: 45px;
border-bottom: 2px solid #ffd460;
}

.currentLink {
color: #ffd460 !important;
}

.topnav a {
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-weight: 500;
cursor: pointer;
}

.topnav a:active {
color: #ffd460;
}

#logo {
margin-top: -40px;
transform: scale(1) !important;
}

.navLeft {
float: left;
}

.navRight {
float: Right;
}

.topnav a:hover {
color: #ffd460;
text-decoration: none;
transition: 0.5s;
transform: scale(1.2);
}

/* ============= Tavler ==============*/

#tavleContainer {
display: flex;
width: auto;
margin-left: 70px;
margin-right: auto;
flex-direction: row;
}

.popUpBtns {
  float: right;
  font-size: 16px;
  position: relative;
  padding-left: 10px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  background-color:#50D160;
  color:#f2f2f2;
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#boardsBtn {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 15px;
  color: #f2f2f2;
  background-color: #50D160;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  margin-left: 30px;
  min-width: 220px;
}

.cardBtns {
  margin-top: 15px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
  font-weight: 600;
  color: #f2f2f2;
  background-color: #50D160;
  border: none;
  border-radius: 10px;
}

.tavle {
background-color: #fff;
height: auto;
text-align: center;
color: #f2f2f2;
border-radius: 15px;
display: table;
min-height: 69px;
margin-left: 30px;
min-width: 250px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 100px;
  width: 220px;
  color: #f2f2f2;
  background-color: #4F6976;
  border-radius: 10px;
  opacity:0.9;
 
}
.textInput {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5f8091;
  text-align: center;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
  border:none;
  width: 99%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.textInput::placeholder {
  color: #d8d7d7;
  font-size: 14px;
}

/* ============== MODAL BOX ============== */

.modal {
  position: fixed;
  border-radius: 10px;
  z-index: 1;
  left: 20vw;
  top: 5vw;
  width: 60%;
  height: 60%;
  overflow: auto;
  background-color: #4F6976;
}
p {
  color: #f2f2f2;
}

.headerDiv {
  background-color: #4F6976;
  height: auto;
  margin: 15px;
  padding: 10px;
  border: none;
  width: 80%;
  
}

.description {
  margin: 10px;
}

.close {
  position: relative;
  margin: 3px;
  color: #f2f2f2;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#prod {
   margin:5px;
   border-radius: 4px;
   width: auto;
   border: none;
   display: block;
   background-color: #f2f2f2; 
}

.chckbxBtn {
   margin: 5px;
   position: relative;
   height:auto;
   width: auto;
   border-radius: 4px;
   background-color:#50D160;
   color:#fff;
   border: none;
   cursor: pointer;
}

.descBtn {
   position: relative;
   top: 2px;
   left: 500px;
   height:auto;
   width: auto;
   border-radius: 4px;
   background-color:#50D160;
   color:#fff;
   border: none;
   cursor: pointer;
}

.addFileButton {
   margin:5px;
   position: relative;
   top: 20px;
   height:auto;
   width: auto;
   border-radius: 4px;
   background-color:#50D160;
   color:#fff;
   border: none;
   cursor: pointer;
}

 textarea {
    display: block;
    font-size: 14px;
    width:200px;
    margin: 10px auto;
    margin-top: 30px;
    padding: none;
    border-radius: 14px;
    background-color: #f2f2f2;
    border: none;
    width: 400px;
    height: 70px;
    border: none;
    }

p {
    margin: 10px auto;
    margin-top: 30px;
}
.dueDate {
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 3px 5px;
  width: 140px;
}
.flagDiv {
  position:relative;
  float: right;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 26px;
  background-color: #f2f2f2;
  height: 20px;
  color: #d3d3d3;
  width: 20px;
  border-radius: 2px;
}


.stars {
  color: gold;
}

#starContainer {
  height: 100px;
  margin-top: 34px;
  padding-left: 10px;
  width: 100px;
  display: flex;
  position: absolute;
}

#starContainer * {
  padding-right: 10px;
  font-size: 16px;
}
