/* button to get the pop up chat*/
.open-button {
  background-color: #555555;
  color: #ffffff;
  padding: 20px 20px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  right: 28px;
  width: 280px;
}

/*  popup chat  */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 19;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:#000000 ;
}

/* textarea */
.form-container textarea {
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* textarea */
.form-container textarea:focus {
  background-color: #dddddd;
  outline: none;
}

/* send button */
.form-container .btn {
  background-color: #ff5f00;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:4px;
  opacity: 0.8;
}

/* cancel button */
.form-container .cancel {
  background-color: #4b0082 ;
}

/* hover effect on button  */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}