@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');


body {
    background-color:#f2f2f2;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

#header{
    font-size: 40px;
    color: #F06969;
}

#profilePicture{
    border-radius: 50%;
    height: 120px;
}

.text{
    font-size: 20px;
}

#profileContainer {
    text-align: center;
}

.topnav {
    background-image: url("/bilder/headerImage.png");
    padding-top: 20px;
    background-size: 100vw 100vh;
    z-index: 10;
    position: relative;
    height: 150px;
    padding-right: 10%;
    padding-left: 10%;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

#logo {
    margin-top: -40px;
    transform: scale(1) !important;
}

.navLeft {
    float: left;
}

.navRight {
    float: Right;
}

.topnav a:hover {
  color: #ffd460;
  text-decoration: none;
  transition: 0.5s;
  transform: scale(1.2);
}